<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/meta.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs')%>
    <div class="content">
        <div class="content-left">
            <h2 class="content-left-header">Блоги по программированию</h2>
            <p class="parag">Популярные и лучшие публикации по программированию для начинающих</p>
            <p class="parag">и профессиональных программистов и IT-специалистов.</p>
            <div class="imageholder">
                <img src="/images/content-left-image.png" alt="">
            </div>
            <div class="holder">
                <h2 class="under-image">Обзор Report Manager от Webix</h2>
                <p class="under-image2">Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p class="under-image2">Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix 
                    с двумя новыми комплексными виджетами. Первый - зто Scheduler, о 
                    котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. 
                    Подробную информацию об этом виджете Вы можете найти в статье.</p>
                <p class="under-image2">Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его</p>
                <%- include('partials/options.ejs')%>
            </div> 
            <div class="imageholder">
                <img src="/images/content-left-image2.png" alt="">
            </div>
            <div class="holder">
                <h2 class="under-image">Разработчики изобрели методологию <br> высокоскоростного программирования</h2>
                <p class="under-image2">Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p class="under-image2">Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix 
                    с двумя новыми комплексными виджетами. Первый - зто Scheduler, о 
                    котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. 
                    Подробную информацию об этом виджете Вы можете найти в статье.</p>
                <p class="under-image2">Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его</p>
                <%- include('partials/options.ejs')%>
            </div> 
        </div>
        <div class="content-right">
            <div class="info">
                <h2 class="h2">Категории</h2>
                <p>Прогнозы в IT</p>
                <p>Веб-разработка</p>
                <p>Мобильная разработка</p>
                <p>Фриланс</p>
                <p>Алгоритмы</p>
                <p>Тестирование IT систем</p>
                <p>Разработка игр</p>
                <p>Дизайн и юзабилити</p>
                <p>Искусственный интеллект</p>
                <p>Машинное обучение</p>
            </div>
        </div>
    </div>
</body>
</html>