<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/meta.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header_profile.ejs')%>
    <div class="content">
        <div class="content-left">
            <div class="profilehead">
                <h2>Мои Блоги</h2>
                <div class="buttoner2">
                    <a href="/new">Новый блог</a>
                </div>
            </div>
            <div class="imageholder">
                <img src="/images/content-left-image.png" alt="">
            </div>
            <div class="holder">
                <h2 class="under-image">Обзор Report Manager от Webix</h2>
                <p class="under-image2">Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p class="under-image2">Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix 
                    с двумя новыми комплексными виджетами. Первый - зто Scheduler, о 
                    котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. 
                    Подробную информацию об этом виджете Вы можете найти в статье.</p>
                <p class="under-image2">Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его</p>
                <%- include('partials/options.ejs')%>
            </div> 
            <div class="imageholder">
                <img src="/images/content-left-image2.png" alt="">
            </div>
            <div class="holder">
                <h2 class="under-image">Разработчики изобрели методологию <br> высокоскоростного программирования</h2>
                <p class="under-image2">Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p class="under-image2">Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix 
                    с двумя новыми комплексными виджетами. Первый - зто Scheduler, о 
                    котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. 
                    Подробную информацию об этом виджете Вы можете найти в статье.</p>
                <p class="under-image2">Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его</p>
                <%- include('partials/options.ejs')%>
            </div> 
        </div>
        <div class="content-right-profile">
            <div class="info2">
                <div class="hold">
                    <div class="profileholder2">
                        <img src="/images/avatar.png" alt="">
                    </div>
                </div>
                <h2 class="namer">Tony Soprano</h2>
                <div class="pa">В основном пишу про веб - <br> разработку, на React & Redux </div>
                <div class="pa">97 постов за все время</div>
                <div class="editthold">
                    <div class="editt">
                        <a href="">Редактировать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>