<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/meta.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs')%>
    <div class="login-content">
        <form action="/api/signUp" method="POST">
            <h2>Вход</h2>
            <fieldset>
                <input type="email" placeholder="Введите email" class="input1" name="email">
            </fieldset>
            <fieldset>
                <input type="text" placeholder="Введите полное имя" class="input1" name="full_name">
            </fieldset>
            <fieldset>
                <input type="password" placeholder="Введите пароль" class="input1" name="password">
            </fieldset>
            <fieldset>
                <input type="password" placeholder="Подтвердите пароль" class="input1" name="repassword">
            </fieldset>
            <fieldset >
                    <div class="enterer">
                        <button>Зарегистрироваться</button>
                    </div>
            </fieldset>
        </form>
    </div>
    <%- include('partials/scripts.ejs')%>
</body>
</html>
    